apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: k8s-flask-pvc
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: {{ .Values.storageClassName }}
  resources:
    requests:
      storage: 1Gi
